# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
.venv/
venv/

# IDE folders
.vscode/
.idea/

# Secrets / keys
*.pem
*.key
ci-deployer-key.json

# Mac / Windows system files
.DS_Store
Thumbs.db
